:root {
  --fonts-principal: "IBM Plex Sans", sans-serif;
  --color-background: #f2f2f2;
  --color-black: #0d0d0d;
  --color-white: #ffff;
  --color-fontBlack: #0000;
}

/* 2xl */
@media screen and (max-width: 1700px) {
  .circulo {
    width: 750px;
    position: absolute;
    bottom: 0%;
  }
  .circulo img {
    width: 450px;
  }
}

/*2xl*/

@media screen and (max-width: 1575px) {
  .circulo {
    display: none;
  }
  .hero {
    justify-content: center;
  }
}

/* lg */
@media screen and (max-width: 1230px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .conten-footer h2 {
    font-size: 4.5vh;
  }
  i {
    font-size: 6vh;
  }
}

/* md */
@media screen and (max-width: 920px) {
  header {
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .websyze h1 {
    font-size: 16vh;
    text-align: center;
  }
  .nav-list li a {
    font-size: 1rem;
  }
  .texto {
    width: 100%;
  }
  .btn {
    left: 35%;
  }
}

/* sm */
@media screen and (max-width: 743px) {
  .websyze h1 {
    font-size: 13vh;
  }
  .nav-list li a {
    font-size: 1.2rem;
  }
  .btn {
    left: 35%;
  }

  .conten-footer h2 {
    font-size: 3.5vh;
  }
}

/* xs */
@media screen and (max-width: 620px) {
  .websyze h1 {
    font-size: 10vh;
  }
  .websyze h2 {
    font-size: 20px;
  }
  .btn{
    left: 25%;
  }
}

@media screen and (max-width: 577px){
    .abrir, .cerrar{
        background: transparent;
        border: none;
        cursor: pointer;
        display: block;
    }
    
    nav{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-black);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
        z-index: 9;
    }
    nav.visible{
      opacity: 1;
      visibility: visible;
    }
    header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li .register{
      display: block;
    }
    .nav-list li .sesion{
      display: block;
    }
    .nav-list li a{
        color: white;
    }
    .list-hideen{
      display: none;
    }
}

@media screen and (max-width: 457px){
  .websyze h1{
    font-size: 8vh;
  }
  .websyze h2{
    font-size: 13px;
  }
  .texto p{
    font-size: 11px;
  }
  .btm{
    padding: 5px;
  }
  .btn a{
    font-size: 10px;
  }
  .conten-footer h2{
    font-size: 3vh;
  }
  i{
    font-size: 4vh;
  }
}

@media screen and (max-width: 367px){
  .websyze h1{
    font-size: 4.3vh;
  }
  .websyze h2{
    font-size: 1vh;
  }
  .texto p{
    font-size: 10px;
  }
  .btn{
    padding: 4px 8px;
    text-align: center;
  }
  .btn a{
    font-size: 7px;
    text-align: center;
  }
  .conten-footer h2{
    font-size: 2.5vh;
  }
  i{
    font-size: 3.4vh;
  }
}