:root{
    --fonts-principal: 'IBM Plex Sans', sans-serif;
    --color-background: #f2f2f2;
    --color-black: #0D0D0D;
    --color-white: #FFFF;
    --color-fontBlack: #0000;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-black);
    margin-top: 143px;
}
.conten-footer{
    color: #FFFF;
}

i{
    font-size: 40px;
    color: #FFFF;
}
