@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --fonts-principal: "IBM Plex Sans", sans-serif;
    --color-background: #f2f2f2;
    --color-black: #0d0d0d;
    --color-white: #ffff;
    --color-fontBlack: #0000;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonts-principal);
  }

main{
    background-color: var(--color-background);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px black solid;
    padding: 20px 40px;
}


.nav-list{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

.nav-list li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

header .logo{
    width: 60px;
}


.item-section{
    padding: 10px 20px;
    background-color: var(--color-black);
    border-radius: 18px ;
}

.nav-list .item-section a{
    color: white;
}

.hero{
    display: flex;
    align-items: center;
}

.contenido{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px 40px;
    margin-top: 150px;
}

.websyze h1{
    font-size: 20vh;
}

.linea{
    background-color: var(--color-black);
    height: 1px;
    width: 100%;
}

.texto {
    font-size: 20px;
    padding: 20px;
    width: 800px;
}

.circulo{
    background-image: url("./public/circulo.png");
    width: 898px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn{
    position: relative;
    top: 40px;
    left: 320px;
    padding: 10px 20px;
    background: black;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.circulo img{
    position: relative;
    left: 10%;
    bottom: 200px;
}

.register, .sesion{
    display: block;
    display: none;
}

/*estilos del boton de abrir y cerrar*/
.abrir, 
.cerrar{
    display: none;
}

