---
import '../styles/footer.css'
---

<footer>
    <div class="textFooter">
        <h2>Optimiza tu sitio web</h2>
    </div>
    <div>
        <i class='bx bx-trending-up'></i>
    </div>
    <div class="textFooter">
        <h2>Mejores animaciones</h2>
    </div>
    <div>
        <i class='bx bx-trending-up'></i>
    </div>
    <div class="textFooter">
       <h2>30 días en desarrollo </h2>
    </div>
    <div>
        <i class='bx bx-trending-up'></i>
    </div>
    <div class="textFooter">
        <h2>Mejores diseños gráficos</h2>
    </div>
    <div>
        <i class='bx bx-trending-up'></i>
    </div>
  </footer>