---
import "../styles/general.css";
---

<section class="containerHero">
  <header class="header">
    <div class="logo">
      <img src="/public/logo-negro.png" alt="logotipo" />
    </div>
    <nav class="navbar">
      <ul class="navegar">
        <li class="navegacion"><a href="#">Inicio</a></li>
        <li class="navegacion"><a href="#">Servicios</a></li>
        <li class="navegacion"><a href="#">Contáctanos</a></li>
        <li class="navegacion">Inicio<a href="#">Blog</a></li>
        <li class="navegacion">Inicio<a href="#">Soporte técnico</a></li>
      </ul>
    </nav>
    <div class="register">
      <div class="registrarse">
        <a href="#">Registrarse</a>
      </div>
      <div>
        <a href="#">Iniciar sesión</a>
      </div>
    </div>
  </header>
  <main class="contenido">
    <div class="containerContenido">
      <div class="tittle">
        <h4>Creemos en tu proyecto</h4>
        <h1>Websyze</h1>
      </div>
      <div class="linea"></div>
      <div class="texto">
        <p>
          Cada sitio web es realizado con la mejor creatividad y, con diseños
          estéticos y limpios. Nuestra misión es fusionar creatividad y
          funcionalidad en cada proyecto que emprendemos, creando sitios web que
          sean verdaderamente impresionantes tanto en apariencia como en
          rendimiento.
        </p>
      </div>
      <div class="linea"></div>
      <div class="btn">
        <a href="#">¡Comenezar ahora!</a>
      </div>
    </div>
    <div class="imgHero">
        <div class="circulo">
            <img src="/public/webb.png" alt="ilustracion Web">
        </div>
    </div>
  </main>
  <footer class="footer">
    <div class="textFooter">
        <h2>Optimiza tu sitio web</h2>
    </div>
    <div class="textFooter">
        <h2>Mejores animaciones</h2>
    </div>
    <div class="textFooter">
       <h2>30 días en desarrollo</h2>
    </div>
    <div class="textFooter">
        <h2>Mejores diseños gráficos</h2>
    </div>
  </footer>
</section>
