---
import "../styles/general.css";
import "../styles/Hero.css";
import Footer from "./footer.astro";
import "../styles/mediaQueris/querisHero.css";
---
<main>
  <header>
    <img class="logo" src="/public/logo-negro.png" alt="logotipo" />
    <button class="abrir" id="abrir"><i class="bx bx-menu" style="color:#0d0d0d"></i></button>
    <nav id="nav">
      <button id="cerrar" class="cerrar"><i class="bx bx-x" style="color:#f2f2f2"></i></button>
      <ul class="nav-list">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Soporte técnico</a></li>
        <li><a href="#" class="register">Registrarse</a></li>
        <li><a href="#" class="sesion">Iniciar sesión</a></li>
      </ul>
    </nav>
    <ul class="nav-list list-hideen">
      <li class="item-register"><a href="#">Registrarse</a></li>
      <li class="item-section"><a href="#">Iniciar sección</a></li>
    </ul>
  </header>
  <section class="hero">
    <div class="contenido">
      <div class="websyze">
        <h2>Creemos en tu proyecto</h2>
        <h1>Websyze</h1>
      </div>
      <div class="linea"></div>
      <div class="texto">
        <p>
          Cada sitio web es realizado con la mejor creatividad y, con
          diseños estéticos y limpios. Nuestra misión es fusionar
          creatividad y funcionalidad en cada proyecto que emprendemos,
          creando sitios web que sean verdaderamente impresionantes tanto en
          apariencia como en rendimiento.
        </p>
      </div>
      <div class="linea"></div>
      <button class="btn"><a href="#">¡Comenzar ahora!</a></button>
    </div>
    <div class="circulo">
      <img src="/public/webb.png" alt="web ilustración" />
    </div>
  </section>   
  <Footer/>
</main>
<script src="../js/app.js"></script>
</html>
