---
import "../styles/servicios.css";
import "../styles/mediaQueris/media-queris-servicios.css"
---

<section class="section-servicios">
  <h2>Nuestros servicios</h2>
  <div class="container-servicios">
    <div class="container-box-servicios">
      <div class="box-servicios">
        <div class="img-servicos">
          <img src="/public/adobe.png" alt="diseño grafico" />
        </div>
        <div class="text-servicios">
          <p>
            Da un toque único a tu sitio web con nuestro servicio de diseño
            gráficos y que luzca sorprendente.
          </p>
        </div>
      </div>
      <div class="box-servicios">
        <div class="img-servicos">
          <img src="/public/seo.svg" alt="SEO" />
        </div>
        <div class="text-servicios">
          <p>
            Nuestro objetivo es mejorar tu posición en las páginas de resultados
            de búsqueda, atrayendo más visitantes y clientes potenciales.
          </p>
        </div>
      </div>
      <div class="box-servicios">
        <div class="img-servicos">
          <img src="/public/imghero.png" alt="website" />
        </div>
        <div class="text-servicios">
          <p>
            Creamos sitios web totalmente adaptables a cualquier dispositivo,
            empleando la última tecnología para ofrecer a los usuarios una
            experiencia única.
          </p>
        </div>
      </div>
      <div class="box-servicios">
        <div class="img-servicos">
          <i class="bx bx-code-alt"></i>
        </div>
        <div class="text-servicios">
          <p>
            En nuestro trabajo, utilizamos las tecnologías más óptimas para
            brindar un servicio rápido y altamente eficaz.
          </p>
        </div>
      </div>
    </div>
    <div class="container-img-servicios"></div>
  </div>
</section>
